main {
  // slider
  .slider {
    background: linear-gradient(
      39.89deg,
      rgba(0, 115, 12, 0.81) -22.86%,
      rgba(251, 246, 238, 0) 116.18%
    );
    width: 100%;
    height: 719px;
    position: relative;
    .container-fluid {
      img {
        width: 100%;
      }
    }
    .slide-information {
      padding: 35px 15px;
      .company-information {
        .sub-header {
          display: flex;
          flex-direction: row;
          margin-bottom: 10px;
          .img {
            width: 23.8px;
            height: 19.89px;
          }
          div {
            margin-left: 5px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            color: #212529;
          }
        }
        .header {
          margin-bottom: 15px;
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 38px;
          color: #212529;
          .green-header {
            color: green;
          }
        }
        .description {
          margin-bottom: 40px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #212529;
        }
        .btn-quate {
          margin: auto;
          margin-bottom: 20px;
          width: 303px;

          button {
            background: #00730c;
            width: 303px;
            height: 44px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1px solid #00730c;
            color: #ffffff;
            font-family: "Nunito";
            font-weight: 700;
            font-size: 16px;
            line-height: 125%;
            text-transform: capitalize;
            cursor: pointer;
          }
          button:hover {
            background: #003806;
          }
        }
        .btn-how-it-works {
          width: 145px;
          margin: auto;
          button {
            display: flex;
            flex-direction: row;
            width: 145px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #00730c;
            background: none;
            border: 0;
            position: relative;
            cursor: pointer;
          }
          button:hover {
            text-decoration: underline;
          }
          img {
            width: 16px;
            height: 13px;
            position: absolute;
            right: 5px;
            top: 5px;
          }
        }
      }
      .statistics {
        margin-top: 41px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        .statistic-customers,
        .statistic-gardens {
          margin-left: 12px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 8px 10px;
          gap: 8px;
          width: 133px;
          height: 32px;
          background: linear-gradient(180deg, #fff8f1 0%, #d7e8d9 100%);
          border-radius: 32px;
          .counter {
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #212529;
          }
          .statistic-name {
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            display: flex;
            align-items: center;
            color: #212529;
          }
        }
        .statistic-team {
          display: none;
        }
      }
    }
    .flow-plant {
      width: 80px;
      position: absolute;
      left: 0.33%;
      right: 80.53%;
      top: 81.5%;
      bottom: 2.09%;
    }
  }
  // services
  .services {
    .container {
      width: 100%;
      h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        color: #212529;
        margin: 50px 54px 15px 54px;
        span {
          color: green;
        }
      }
      .services-description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #676767;
        margin: 0 15px 30px 16px;
      }
      .services-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        .service {
          width: 345px;
          height: 116px;
          margin: 0 15px 20px 15px;
          padding: 20px;
          background: linear-gradient(
            172.29deg,
            #ffffff -10.79%,
            #ffffff 94.04%
          );
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          border-radius: 10px;
          a {
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            img {
              width: 50px;
              height: 50px;
              margin: 15px 0;
            }
            .service-text {
              h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                text-transform: capitalize;
                color: #212529;
              }
              p {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #676767;
                margin: 10px 0 20px 20px;
              }
            }
          }
        }
      }
    }
  }
  //  experience
  .experience {
    margin-top: 30px;
    .container {
      width: 100%;
      padding: 0 15px;
      .experience-img {
        width: 100%;
        position: relative;
        .main-img {
          position: relative;
          margin: 15px 0px 25% 15px;
          width: 85%;
          img {
            width: 100%;
          }
        }
        .main-img::after {
          content: "";
          display: block;
          background-color: #00730c;
          position: absolute;
          left: -10px;
          top: -10px;
          width: calc(calc(100% - 115px + 15px));
          height: calc(100% - 75px + 15px);
          z-index: -10;
        }
        .sub-img {
          width: 65%;
          position: absolute;
          bottom: -90px;
          right: 0;
          border: 9px solid #ffffff;
          border-radius: 5px;
          z-index: 10;
          img {
            width: 100%;
          }
        }
      }
      .experience-content {
        padding: 30px 0;
        .text {
          h2 {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            padding-bottom: 15px;
            span {
              color: #00730c;
            }
          }
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            color: #676767;
          }
        }
        .experience-cards {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          gap: 10px;
          margin: 40px 0 30px 0;
          .card {
            width: calc(50% - 5px);
            background: #ffffff;
            box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
            border-radius: 5px;
            a {
              text-decoration: none;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              height: 94px;
              .option-img {
                display: flex;
                justify-content: center;
                width: 40px;
                img {
                  width: 100%;
                }
              }
              .option-name {
                margin-top: 4px;
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: #212529;
              }
            }
          }
        }
        .experience-action {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
          .btn-discover {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 167px;
            height: 40px;
            background: #00730c;
            border-radius: 5px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: #ffffff;
          }
        }
      }
    }
  }
  // why-choose-us
  .why-choose-us {
    background: left -20px top 13px/140px no-repeat url(img/why-choose-us-background-1.png),
      right -12px top -9px/170px no-repeat
        url(img/why-choose-us-background-2.png),
      #0c4b35;
    .container {
      width: 100%;
      padding: 50px 15px;
      .why-choose-us-img {
        width: 100%;
        margin-bottom: 30px;
      }
      .why-choose-us-content {
        .text {
          h2 {
            text-align: center;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            color: #ffffff;
          }
          p {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #ffffff;
            margin: 15px 0 40px 0;
          }
        }
      }
      .why-choose-us-options {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        .option {
          width: calc(50% - 10px);
          display: flex;
          justify-content: space-around;
          .option-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: #ffffff;
            border-radius: 50%;
          }
          .option-name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-transform: capitalize;
            color: #ffffff;
          }
        }
      }
      .why-choose-us-action {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .btn-discover {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 167px;
          height: 40px;
          background: #00730c;
          border-radius: 5px;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          text-transform: capitalize;
          color: #ffffff;
        }
      }
    }
  }
  // working-process
  .working-process {
    .container {
      width: 100%;
      padding: 50px 15px 35px 15px;
      .working-process-text {
        h2 {
          text-align: center;
          font-weight: 700;
          font-size: 28px;
          line-height: 38px;
          color: #212529;
          span {
            color: #00730c;
          }
        }
        p {
          text-align: center;
          padding: 15px 0 30px 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #676767;
        }
      }
      .working-process-cards {
        width: $width-col-12;
        .card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 345px;
          height: 208px;
          padding: 20px;
          gap: 10px;
          background: #ffffff;
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          border-radius: 10px;
          background: left 245px top 58px/85px no-repeat
            url(img/working-process-background.png);
          a {
            text-decoration: none;
            .card-img {
              display: flex;
              justify-content: space-between;
              height: 50px;
              margin-bottom: 20px;
              img {
                width: 50px;
                height: 50px;
              }
              p {
                font-weight: 800;
                font-size: 45px;
                line-height: 61px;
                display: flex;
                align-items: center;
                color: #e3e3e3;
              }
            }
            .card-content {
              height: 98px;
              h3 {
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                text-transform: capitalize;
                color: #212529;
                margin-bottom: 10px;
              }
              p {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #676767;
              }
            }
          }
        }
      }
    }
  }
  // lawn-services
  .lawn-services {
    margin: 20px 15px 50px 15px;
    .container {
      width: 100%;
      position: relative;
      .lawn-services-images {
        width: 345px;
        .desktop-img {
          display: none;
        }
        .mobile-img {
          width: 100%;
        }
      }
      .lawn-services-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 11%;
        top: 21%;
        h2 {
          width: 272px;
          font-weight: 700;
          font-size: 20px;
          line-height: 27px;
          text-align: center;
          color: #ffffff;
          margin-bottom: 30px;
        }
        .btn-call {
          button {
            width: 137px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0px;
            gap: 10px;
            background: #ffffff;
            box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
            border-radius: 5px;
            img {
              width: 20px;
              height: 20px;
            }
            div {
              font-weight: 700;
              font-size: 14px;
              line-height: 19px;
              color: #00730c;
            }
          }
        }
      }
    }
  }
  // trained-staff
  .trained-staff {
    // height: 380px;
    .container {
      width: 100%;
      padding: 0 15px 50px 15px;
      .trained-staff-content {
        .text {
          h2 {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            color: #000000;
            padding-bottom: 15px;
            span {
              color: #00730c;
            }
          }
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #676767;
          }
        }
        .btn-discover {
          margin: 40px 0 50px 0;
          display: flex;
          justify-content: center;
          button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 167px;
            height: 40px;
            background: #00730c;
            border-radius: 5px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: #ffffff;
          }
        }
      }
      .trained-staff-cards {
        position: relative;
        .staff-card {
          width: 345px;
          height: 345px;
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin-bottom: 20px;
          .option-image {
            width: 100%;
            overflow: hidden;
            img {
              width: 100%;
              border-radius: 10px;
            }
          }
          .option-content {
            min-width: 345px;
            height: 62px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background: linear-gradient(
              6.68deg,
              #00730c 4.95%,
              rgba(251, 246, 238, 0) 264.79%
            );
            border-radius: 5px;
            position: absolute;
            bottom: 20px;
            .option-name {
              font-weight: 700;
              font-size: 18px;
              line-height: 25px;
              color: #ffffff;
            }
            .option-description {
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              color: #ffffff;
            }
            .option-links {
              display: none;
            }
          }
        }
        .staff-card-active,
        .staff-card:hover {
          .option-content {
            height: 345px;
            .option-links {
              display: flex;
              justify-content: space-around;
              width: 80%;
              margin-top: 10px;
              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }
  // clients-saying
  .clients-saying {
    .container {
      width: 100%;
      .clients-saying-text {
        background: #e6f6ea;
        box-shadow: inset 77.4px -77.4px 77.4px rgba(175, 187, 178, 0.099),
          inset -77.4px 77.4px 77.4px rgba(255, 255, 255, 0.099);
        height: 585px;
        padding: 50px 15px 0 15px;
        h2 {
          text-align: center;
          font-weight: 700;
          font-size: 28px;
          line-height: 38px;
          color: #000000;
          margin-bottom: 15px;
          span {
            color: #00730c;
          }
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          text-align: center;
          color: #676767;
        }
      }
      .clients-saying-cards {
        position: relative;
        bottom: 330px;
        left: 13px;
        z-index: 10;
        width: 345px;
        .card {
          width: 345px;
          height: 431px;
          background: #ffffff;
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px;
          gap: 10px;
          .option-image {
            width: 100%;
            margin-bottom: 43px;
            display: flex;
            justify-content: flex-start;
            img {
              width: 135px;
              height: 183px;
            }
          }
          .option-text {
            .option-description {
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              color: #676767;
              margin-bottom: 15px;
            }
            .name-and-stars {
              display: flex;
              justify-content: space-between;
              height: 40px;
              .name-and-position {
                h3 {
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 22px;
                  text-transform: capitalize;
                  color: #212529;
                }
                h4 {
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                  color: #676767;
                }
              }
              .stars {
                width: 124px;
                display: flex;
                align-items: center;
                img {
                  width: 124px;
                  height: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    // slider
    .slider {
      height: 350px;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      .container-fluid {
        img {
          width: 500px;
          position: relative;
          top: 2px;
        }
      }
      .slide-information {
        width: 450px;
        height: 340px;
        padding: 10;
        .company-information {
          margin-right: 30px;
          .sub-header {
            div {
              font-weight: 700;
              font-size: 14px;
              line-height: 15px;
            }
          }
          .header {
            margin-bottom: 15px;
            font-weight: 800;
            font-size: 27px;
            line-height: 29px;
          }
          .description {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 18px;
            color: #676767;
          }
          .action {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .btn-quate {
              margin: 0;
              width: 120px;
              button {
                width: 120px;
                font-size: 14px;
              }
            }
            .btn-how-it-works {
              margin: 0 15px;
              button {
                font-size: 14px;
              }
            }
          }
        }
        .statistics {
          margin-top: 40px;
          justify-content: start;
          .statistic-customers,
          .statistic-gardens,
          .statistic-team {
            display: flex;
            margin-right: 10px;
            gap: 10px;
            padding: 0;
            width: 120px;
            background: none;
            .counter {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              background: linear-gradient(
                72.71deg,
                #00730c -83.5%,
                #f9f9f9 93.84%
              );
              border-radius: 35px;
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 16px;
              color: #212529;
            }
            .statistic-name {
              display: flex;
              align-items: center;
              justify-content: center;
              font-style: normal;
              font-weight: 400;
              font-size: 10px;
              line-height: 14px;
              display: flex;
              color: #212529;
            }
          }
        }
      }
      .flow-plant {
        top: 220px;
        width: 80px;
        img {
          width: 80px;
        }
      }
    }
    // services
    .services {
      .container {
        width: 770px;
        margin: auto;
        h2 {
          font-weight: 800;
          font-size: 31px;
          line-height: 47px;
          margin: 70px 0 20px 0;
          text-align: center;
        }
        .services-description {
          font-size: 15px;
          line-height: 24px;
          text-align: center;
          margin-bottom: 50px;
        }
        .services-cards {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;

          .service {
            width: 254px;
            height: 253px;
            margin: 0 15px 30px 15px;
            padding: 30px 43px 59px 44px;
            a {
              display: flex;
              flex-direction: column;
              img {
                width: 56px;
                height: 56px;
                margin: auto;
              }
              .service-text {
                margin-top: 20px;
                h3 {
                  font-size: 18px;
                  line-height: 24px;
                }
                p {
                  font-size: 14px;
                  line-height: 24px;
                  margin: 0;
                  text-align: center;
                }
              }
            }
          }
          .service:hover {
            background: linear-gradient(
              6.68deg,
              #00730c 4.95%,
              rgba(251, 246, 238, 0) 264.79%
            );
            .service-text {
              h3,
              p {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    // experience
    .experience {
      margin: 30px 0;
      .container {
        width: 770px;
        margin: auto;
        .experience-img {
          height: 800px;
          margin-bottom: 30px;
          .main-img {
            margin-bottom: 30px;
            img {
              width: 85%;
            }
          }
          .main-img::after {
            width: calc(calc(100% - 240px + 15px));
            height: calc(100% - 110px + 15px);
          }
          .sub-img {
            bottom: 25px;
            img {
              width: 85%;
            }
          }
          .main-img::after {
            left: -15px;
            top: -15px;
          }
        }
        .experience-content {
          padding: 0;
          .text {
            h2 {
              font-size: 30px;
              line-height: 40px;
            }
            p {
              font-size: 15px;
              line-height: 24px;
            }
          }
          .experience-cards {
            .card {
              .option-name {
                font-size: 16px;
                line-height: 21px;
              }
              .option-name:hover {
                font-size: 17px;
                font-weight: 800;
              }
            }
            .card:hover {
              background: linear-gradient(
                6.68deg,
                #00730c 4.95%,
                rgba(251, 246, 238, 0) 264.79%
              );
              .option-name {
                color: #ffffff;
              }
            }
          }
          .experience-action {
            margin-bottom: 40px;

            .btn-discover {
              height: 40px;
            }
            .btn-discover:hover {
              background: #0c4b35;
            }
          }
        }
      }
    }
    // why-choose-us
    .why-choose-us {
      background: left 3px top 70px/140px no-repeat
          url(img/why-choose-us-background-1.png),
        right 3px top 3px/170px no-repeat
          url(img/why-choose-us-background-2.png),
        #0c4b35;
      .container {
        width: 770px;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .why-choose-us-img {
          width: 315px;
          margin: 20px 0 30px 10px;
          img {
            width: 315px;
          }
        }
        .why-choose-us-content {
          .text {
            h2 {
              text-align: left;
            }
            p {
              text-align: left;
              margin: 10px 0 15px 0;
              font-size: 15px;
            }
          }
        }
        .why-choose-us-options {
          gap: 10px;
          .option {
            width: calc(50% - 5px);
            justify-content: start;
            .option-name {
              margin-left: 10px;
            }
            .option-img {
              width: 15px;
              height: 15px;
            }
          }
        }
        .why-choose-us-action {
          margin-top: 15px;
          justify-content: start;
          .btn-discover {
            height: 40px;
          }
          .btn-discover:hover {
            background: #0c4b35;
          }
        }
      }
    }
    // working-process
    .working-process {
      .container {
        width: 770px;
        margin: auto;
        padding: 0;
        .working-process-text {
          margin: 50px 0 20px 0;
          h2 {
            font-weight: 800;
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 15px;
          }
          p {
            padding: 0;
            font-size: 15px;
            line-height: 24px;
            width: 600px;
            margin: auto;
          }
        }
        .working-process-cards {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: center;
          .card {
            width: 300px;
            height: 320px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.15);
            background: left 197px top 100px/90px no-repeat
              url(img/working-process-background.png);
            a {
              .card-img {
                height: 60px;
                margin-bottom: 30px;
                img {
                  width: 60px;
                  height: 60px;
                }
                p {
                  font-size: 55px;
                  line-height: 81px;
                }
              }
              .card-content {
                height: 110px;
                h3 {
                  font-size: 18px;
                  line-height: 25px;
                  margin-bottom: 20px;
                  text-align: center;
                }
                p {
                  font-size: 15px;
                  line-height: 24px;
                  text-align: center;
                }
              }
            }
          }
          .card:hover {
            background: linear-gradient(
                6.68deg,
                #00730c 4.95%,
                rgba(251, 246, 238, 0) 264.79%
              ),
              left 197px top 100px/90px no-repeat
                url(img/working-process-background.png);
            .card-content {
              h3,
              p {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    // lawn-services
    .lawn-services {
      margin: 50px 0;
      .container {
        width: 770px;
        margin: auto;
        padding: 0;
        .lawn-services-images {
          width: 770px;
          .desktop-img {
            display: block;
            width: 100%;
          }
          .mobile-img {
            display: none;
          }
        }
        .lawn-services-content {
          flex-direction: row;
          left: 42%;
          top: 30%;
          h2 {
            width: 272px;
            font-size: 19px;
            line-height: 29px;
            text-align: left;
            margin-right: 20px;
            margin-bottom: 0;
          }
          .btn-call {
            button:hover {
              background: #0c4b35;
              div {
                color: white;
              }
            }
          }
        }
      }
    }
    // trained-staff
    .trained-staff {
      .container {
        width: 770px;
        margin: auto;
        padding: 0;
        .trained-staff-content {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          .text {
            width: 70%;
            h2 {
              font-weight: 800;
              font-size: 30px;
              line-height: 40px;
              text-align: left;
              padding-bottom: 20px;
            }
            p {
              font-size: 15px;
              line-height: 24px;
              text-align: left;
            }
          }
          .btn-discover {
            margin: 0;
            display: flex;
            align-items: end;
          }
          .btn-discover {
            button:hover {
              background: #0c4b35;
            }
          }
        }
        .trained-staff-cards {
          .staff-card {
            width: 370px;
            height: 370px;
            .option-image {
              width: 370px;
            }
            .option-content {
              min-width: 370px;
            }
          }
          .staff-card-active,
          .staff-card:hover {
            .option-content {
              height: 370px;
            }
          }
        }
      }
    }
    // clients-saying
    .clients-saying {
      background: #e6f6ea;
      box-shadow: inset 77.4px -77.4px 77.4px rgba(175, 187, 178, 0.099),
        inset -77.4px 77.4px 77.4px rgba(255, 255, 255, 0.099);
      .container {
        width: 770px;
        margin: auto;
        padding: 0;
        .clients-saying-text {
          padding: 60px 0 30px 0;
          background: none;
          box-shadow: none;
          width: 580px;
          height: 180px;
          h2 {
            text-align: left;
            font-weight: 800;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 20px;
          }
          p {
            font-size: 15px;
            line-height: 24px;
            text-align: left;
          }
        }
        .clients-saying-cards {
          bottom: -45px;
          left: 0;
          width: 100%;
          .card {
            width: calc(50% - 20px);
            height: 220px;
            flex-direction: row;
            .option-image {
              width: 150px;
              margin: 0;
              img {
                width: 100%;
              }
            }
            .option-text {
              width: 375px;
              margin-left: 20px;
              .option-description {
                font-size: 15px;
                line-height: 24px;
                color: #676767;
              }
              .name-and-stars {
                height: 33px;
                .name-and-position {
                  h3 {
                    font-size: 18px;
                    line-height: 23px;
                  }
                  h4 {
                    font-size: 13px;
                    line-height: 18px;
                  }
                }
              }
            }
          }
          .slick-prev:before,
          .slick-next:before {
            font-size: 30px;
            line-height: 0;
            color: #42875c;
          }
          .slick-prev {
            left: 680px;
            top: -40px;
          }
          .slick-next {
            right: 25px;
            top: -40px;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  main {
    // slider
    .slider {
      height: 719px;
      .container-fluid {
        img {
          width: 1013px;
        }
      }
      .slide-information {
        width: 600px;
        height: 719px;
        padding: 133px 0 100px 0;
        .company-information {
          margin-right: 80px;
          .sub-header {
            div {
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 10px;
            }
          }
          .header {
            margin-bottom: 20px;
            font-size: 58px;
            line-height: 79px;
          }
          .description {
            width: 556px;
            margin-bottom: 50px;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
          }
          .action {
            .btn-quate {
              width: 175px;
              button {
                padding: 13px 35px;
                gap: 10px;
                width: 175px;
                height: 50px;
                font-size: 18px;
                line-height: 24px;
              }
            }
            .btn-how-it-works {
              width: 158px;
              margin: 0 30px;
              button {
                width: 158px;
                font-size: 18px;
                line-height: 30px;
                img {
                  right: -15px;
                  top: 10px;
                }
              }
            }
          }
        }
        .statistics {
          margin-top: 61px;
          .statistic-customers,
          .statistic-gardens,
          .statistic-team {
            display: flex;
            width: 149px;
            height: 50px;
            .counter {
              width: 50px;
              height: 50px;
              font-size: 15px;
              line-height: 20px;
            }
            .statistic-name {
              width: 89px;
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
      .flow-plant {
        top: 430px;
        img {
          width: 197px;
          height: 278px;
        }
      }
    }
    // services
    .services {
      .container {
        width: 1440px;
        margin: auto;
        h2 {
          font-size: 45px;
          line-height: 61px;
          margin: 100px 0 30px 0;
        }
        .services-description {
          font-size: 18px;
          line-height: 30px;
          width: 1136px;
          margin: auto;
        }
        .services-cards {
          .service {
            width: 330px;
            height: 366px;
            margin: 50px 30px 30px 0;
            padding: 60px 43px 59px 44px;
            a {
              img {
                width: 70px;
                height: 70px;
              }
              .service-text {
                margin-top: 50px;
                h3 {
                  font-size: 24px;
                  line-height: 33px;
                }
                p {
                  font-size: 16px;
                  line-height: 28px;
                }
              }
            }
          }
        }
      }
    }
    // experience
    .experience {
      margin-top: 70px;
      margin-bottom: 100px;
      .container {
        width: 1440px;
        display: flex;
        .experience-img {
          width: 693px;
          height: 903px;
          margin-bottom: 0;
          .main-img {
            width: 601px;
            height: 741px;
          }
          .main-img:after {
            width: calc(calc(100% - 115px + 15px));
            height: calc(100% - 130px + 15px);
            left: -20px;
            top: -20px;
          }
          .sub-img {
            width: 456px;
            height: 306px;
            border: 15px solid #ffffff;
            bottom: 25px;
            border-radius: 10px;
          }
        }
        .experience-content {
          padding: 0px;
          gap: 50px;
          width: 690px;
          height: 814px;
          margin-left: 27px;
          .text {
            h2 {
              font-weight: 800;
              font-size: 45px;
              line-height: 61px;
              text-align: left;
              padding-bottom: 30px;
            }
            p {
              font-weight: 400;
              font-size: 16px;
              font-style: normal;
              font-family: "Poppins", sans-serif;
              line-height: 28px;
              width: 672px;
            }
          }
          .experience-cards {
            gap: 30px;
            margin: 50px 0;
            .card {
              width: calc(50% - 15px);
              box-shadow: none;
              a {
                flex-direction: row;
                justify-content: flex-start;
                padding-left: 30px;
                height: 97px;
                .option-img {
                  width: 84px;
                  height: 67px;
                }
                .option-name {
                  margin-left: 30px;
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 33px;
                  text-transform: capitalize;
                }
                .option-name:hover {
                  font-size: 26px;
                  font-weight: 900;
                }
              }
            }
          }
          .experience-action {
            justify-content: start;
            .btn-discover {
              gap: 10px;
              width: 190px;
              height: 50px;
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }
      background: -10.5% 10%/30% no-repeat
        url(img/experience-background-img.png);
    }
    // why-choose-us
    .why-choose-us {
      background: left 5px top 95px/340px no-repeat
          url(img/why-choose-us-background-1.png),
        right 3px top 2px/260px no-repeat
          url(img/why-choose-us-background-2.png),
        #0c4b35;
      .container {
        width: 1440px;
        height: 659px;
        padding: 100px 0 104px 0;
        .why-choose-us-img {
          width: 672px;
          height: 426px;
          margin: 14px 1px 15px 83px;
          img {
            width: 672px;
            height: 426px;
          }
        }
        .why-choose-us-content {
          width: 656px;
          height: 347px;
          .text {
            h2 {
              font-weight: 700;
              font-size: 45px;
              line-height: 61px;
            }
            p {
              font-size: 18px;
              line-height: 30px;
              font-weight: 400;
              margin: 30px 0 50px 0;
            }
          }
        }
        .why-choose-us-options {
          width: 600px;
          height: 86px;
          .option {
            .option-img {
              width: 30px;
              height: 30px;
            }
            .option-name {
              font-size: 24px;
              line-height: 33px;
              margin-left: 20px;
            }
          }
        }
        .why-choose-us-action {
          margin-top: 50px;
          .btn-discover {
            width: 190px;
            height: 50px;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }
    // working-process
    .working-process {
      .container {
        width: 1440px;
        margin: auto;
        padding: 0;
        .working-process-text {
          margin: 96px 0 50px 0;
          h2 {
            font-size: 45px;
            line-height: 61px;
            margin-bottom: 20px;
          }
          p {
            font-size: 18px;
            line-height: 30px;
            width: 1136px;
          }
        }
        .working-process-cards {
          .card {
            width: 330px;
            height: 408px;
            padding: 50px 30px 70px 29px;
            box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
            background: left 210px top 132px/90px no-repeat
              url(img/working-process-background.png);
            a {
              .card-img {
                height: 80px;
                margin-bottom: 35px;
                img {
                  width: 70px;
                  height: 70px;
                }
                p {
                  font-size: 78px;
                  line-height: 106px;
                }
              }
              .card-content {
                height: 173px;
                h3 {
                  font-size: 24px;
                  line-height: 33px;
                }
                p {
                  font-size: 18px;
                  line-height: 30px;
                }
              }
            }
          }
          .card:hover {
            background: linear-gradient(
                6.68deg,
                #00730c 4.95%,
                rgba(251, 246, 238, 0) 264.79%
              ),
              left 210px top 132px/90px no-repeat
                url(img/working-process-background.png);
          }
        }
      }
    }
    // lawn-services
    .lawn-services {
      margin: 100px 0;
      .container {
        width: 1410px;
        .lawn-services-images {
          width: 1410px;
          .desktop-img {
            height: 247px;
          }
        }
        .lawn-services-content {
          width: 703px;
          left: 47%;
          top: 32%;
          h2 {
            width: 448px;
            font-size: 33px;
            line-height: 45px;
            margin-right: 85px;
          }
          .btn-call {
            button {
              width: 170px;
              height: 50px;
              box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.15);
              img {
                width: 30px;
                height: 30px;
              }
              div {
                font-size: 18px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
    // trained-staff
    .trained-staff {
      .container {
        width: 1410px;
        .trained-staff-content {
          margin-bottom: 50px;
          .text {
            width: 956px;
            h2 {
              font-size: 45px;
              line-height: 61px;
              padding-bottom: 30px;
            }
            p {
              font-size: 18px;
              line-height: 30px;
            }
          }
          .btn-discover {
            margin-bottom: 8px;
            margin-right: 23px;
            button {
              width: 190px;
              height: 50px;
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
        .trained-staff-cards {
          .staff-card {
            width: 330px;
            gap: 10px;
            margin-bottom: 100px;
            .option-image {
              width: 330px;
              height: 408px;
              overflow: visible;
            }
            .option-content {
              min-width: 330px;
              height: 90px;
              border-radius: 10px;
              bottom: 60px;
              .option-name {
                font-size: 24px;
                line-height: 32px;
              }
              .option-description {
                font-size: 18px;
                line-height: 30px;
              }
            }
          }
          .staff-card-active,
          .staff-card:hover {
            .option-content {
              height: 408px;
              .option-links {
                margin-top: 26px;
                img {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }
      }
    }
    // clients-saying
    .clients-saying {
      .container {
        width: 1410px;
        .clients-saying-text {
          padding: 100px 0 0 0;
          width: 956px;
          height: 151px;
          h2 {
            font-size: 45px;
            line-height: 62px;
            margin-bottom: 30px;
          }
          p {
            font-size: 18px;
            line-height: 30px;
          }
        }
        .clients-saying-cards {
          bottom: -160px;
          .card {
            margin-bottom: 100px;
            width: 690px;
            height: 341px;
            padding: 25px;
            margin-right: 20px;
            .option-image {
              width: 193px;
              height: 266px;
              margin: 7px 31px 8px 0;
              img {
                width: 193px;
                height: 266px;
              }
            }
            .option-text {
              width: 415px;
              height: 264px;
              margin: 13px 1px 14px 0;
              .option-description {
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 27px;
              }
              .name-and-stars {
                width: 415px;
                height: 63px;
                .name-and-position {
                  h3 {
                    font-size: 24px;
                    line-height: 33px;
                  }
                  h4 {
                    font-size: 14px;
                    line-height: 25px;
                  }
                }
              }
            }
          }
          .slick-prev:before,
          .slick-next:before {
            font-size: 30px;
            line-height: 0;
            color: #42875c;
          }
          .slick-prev {
            left: 680px;
            top: -40px;
          }
          .slick-next {
            right: 25px;
            top: -40px;
          }
        }
      }
    }
  }
}
